/** --------------------------------------------------------------
 * Question
 */

.question,
.comment,
.answer {
    clear: both;
    background: @bgColorBox;
    padding: 1rem;

    & .col1 {
        display: inline-block;
        width: 10%;
        float: left;
    }

    & .col2 {
        padding-left: 1rem;
        display: inline-block;
        width: 90%;
    }
}

.question {
    margin-top: @magicNumber;
}

.button.comm {
    background: @lightestGray;
}

.button.answ {
    background: @green;
    margin: 0 0 0 1rem;
}

.questions .question {
    margin-bottom: @magicNumber;
    padding-bottom: @magicNumber;
    min-height: 12.5rem;
    clear: both;

    & h2 {
        margin: 0;
    }

    & .title a {
        text-decoration: none;
    }
}

.tags {
    & a {
        text-decoration: none;
        color: @textBlack;
    }
}

& .links > * {
    display: inline-block;
}

.links {
    margin: @magicNumber 0;
    text-align: right;
}

.edit-link,
.delete-link {
    font-size: 1rem;
    vertical-align: sub;
    margin: 0 0.5rem;
}

.comments {
    font-size: 0.9rem;

    & .comment {
        min-height: 9rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border-left: 5px solid @midGray;
    }

    & .links > * {
        display: inline-block;
    }

    & .links {
        margin: @magicNumber 0 0;
    }

    & .length {
        font-size: 1.1rem;
        margin: 0 0 @magicNumber/2;
    }
}

.answers {
    clear: both;

    & .answer {
        margin-bottom: @magicNumber;
        clear: right;
    }
}

.question-title {
    & a {
        text-decoration: none;
    }
}

.tags {

    & .tag {
        display: inline-block;
        padding: @magicNumber/4 @magicNumber/2;
        font-size: 0.8rem;
        background: @midGray;
        color: @lightGray;
        margin-bottom: 4px;
    }
}

.user-sidebar .tags .tag {
    background: @darkGray;
}

.question-by {
    font-size: 0.9rem;

    & img {
        padding-right: 5px;
    }
}

form p {
    margin: 0;
    padding: 0;
}

.votes,
.accepted {
    text-align: center;

    & form,
    & input,
    & p,
    & span,
    & fieldset {
        margin: 0;
        padding: 0;
        height: auto;
    }

    & .vote-sum {
        font-size: 1.2rem;
        margin: 2rem 0 0.2rem;
    }

    & #form-element-submit {
        border: none;
        background: none;
        font-size: 2rem;
    }
}

.votes {
    min-height: 7rem;
}

.answer-length {
    margin: 0;
    padding: 0;
    text-align: center;

    &.number {
        font-size: 1.2rem;
    }
}

.cols > * {
    width: 50%;
}

.cols {
    min-height: 3rem;
    padding-top: 1rem;

    .new-question {
        float: left;

        & .button {
            background: #8aca8e;
            padding: 0.5rem 2rem 0.4rem;
            color: #333;
            text-decoration: none;
        }
    }

    .sorting,
    .orderby {
        float: right;

        & #form-element-orderby {
            float: right;
        }
    }

    .orderby #form-element-orderby {
        margin-top: 18px;
    }

    .sorting #form-element-orderby {
        margin-top: -12px;
    }


    & .length {
        float: left;
    }
}

.answers .cols {
    min-height: 6rem;
}



#orderbyform {
    & p {
        margin: 0;
        padding: 0;
    }
}

select,
option {
    background: @darkGray;
    color: #d1d1d1;
    border: none;
    padding: 0 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea, {
    background: @lightestGray;
}

input[type="submit"] {
    background: @green;
}

.voteform {
    height: 3rem;

    & fieldset {
        height: 0;
    }
}

.question-heading {
    background: @darkGray;
    margin: 0 0 @magicNumber/2;
    border: none;
    padding: 1rem 1.5rem 1rem 0;
}

.created img,
.by img,
.profile-img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

input[type="submit"].fa {
    color: @lightGray;
}

input[type="submit"].fa.voted.up,
input[type="submit"].fa.voted.down {
    color: @green;
}

input[type="submit"].accepted.fa{
    color: @green;
}

.accepted #form-element-submit {
    font-size: 1.2rem;
}

.tag-questions h2 {
    margin-top: 0;
}

.answer-body .by {
    margin-top: 0.5rem;
}
